<p>
    <img width="100%" src="https://i.pinimg.com/736x/29/80/73/2980735d9f6a97cd4976ca68e5bfb8d3--womens-jeans-carrera.jpg">

</p>

<!-- view modal -->
<button class="btn btn-primary btn-modal" data-toggle="modal" data-target="#fsModal">
    View Fullscreen Modal
</button>
<!-- view modal -->

<!-- modal -->
<div id="fsModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <!-- dialog -->
    <div class="modal-dialog">

        <!-- content -->
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
                <!-- <h1 id="myModalLabel" class="modal-title">
                    Modal title
                </h1> -->
                <button class="btn btn-secondary" data-dismiss="modal">
                        close
                    </button>
            </div>
            <!-- header -->

            <!-- body -->
            <div class="modal-body">
                    <p>
                            <img width="100%" src="https://i.pinimg.com/736x/29/80/73/2980735d9f6a97cd4976ca68e5bfb8d3--womens-jeans-carrera.jpg">
                          
                        </p>

            </div>
            <!-- body -->

            <!-- footer -->
            <!-- <div class="modal-footer"> -->
                <!-- <button class="btn btn-secondary" data-dismiss="modal">
                    close
                </button> -->
                <!-- <button class="btn btn-default">
                    Default
                </button>
                <button class="btn btn-primary">
                    Primary
                </button> -->
            <!-- </div> -->
            <!-- footer -->

        </div>
        <!-- content -->

    </div>
    <!-- dialog -->

</div>
<!-- modal -->