section.parallax {
  position: relative;
  height: auto;
  padding: 180px 0px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.parallax:after {
  
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.30);
  z-index: 100;
  content: ' ';
}

section.parallax h1 {
  color: #fff;
  position: relative;
  z-index: 101;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

section.parallax.parallax-demo {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/gallery-shop.appspot.com/o/Banner.jpg?alt=media&token=a2f16f79-ef68-4f36-9418-3df0cb420d6c');
  background-position: 100% 100%;
}

.parallax {
  /* The image used */
  background-image: url('https://firebasestorage.googleapis.com/v0/b/gallery-shop.appspot.com/o/Banner.jpg?alt=media&token=a2f16f79-ef68-4f36-9418-3df0cb420d6c');  

  /* Set a specific height */
  min-height: 1000px; 
  
  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: 100%,100%;
  background-repeat: no-repeat;
  background-size: contain,100%; */
  
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

.imglogo
{
  margin-right: 1500px;

}