<!-- <div ng-app="modalDemo" ng-controller="ModalDemoController">
    <button ng-click="showModal()">Show modal</button>
    <button ng-click="showModalFull()">Show modal full screen</button>
    <modal>
        This is a modal
        <button ng-click="closeModal()">Close</button>
    </modal>
</div>

<a href="#modal1" class="button">Open Modal</a>


<div id="modal1" class="overlay">
    <a class="cancel" href="#"></a>
    <div class="modal">
        <div *ngFor="let item of itemImage">
            <div class="col-lg-3 col-sm-6 col-md-4  col-xs-12">
                <div class="card card-4">
                    <div class="flip">
                        <div class="font">
                            <img width="200px" height="200px" src={{item.items}} class="btn" for="modal-1" data-toggle="modal" data-target="#fsModal">



                            <p style="text-align: center">{{item.desc}}</p>
                        </div>

                    </div>

                </div>
            </div>
            <div class="content">
                <div class="back card card-4">
                    <img width="90%" src={{item.items}}>

                </div>
            </div>
        </div>
    </div>
</div>

 -->



<h2 style="padding-bottom: 50px; padding-top: 30px;">Our Product</h2>
<div class="container">
    <div *ngFor="let item of itemImage">
        <div class="col-lg-3 col-sm-6 col-md-4  col-xs-12">
            <div class="card card-4">
                <div class="flip">
                    <div class="font">
                        <img width="200px" height="200px" src={{item.items}}>



                        <p style="text-align: center">{{item.desc}}</p>
                    </div>
                    <div class="back card card-4">
                        <img width="90%" src={{item.items}}>

                    </div>
                </div>

            </div>
        </div>


    </div>
</div>


<div id="container-floating">
    
        <div class="nd4 nds" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it"><img class="reminder">
            <a class="letter" href="https://www.google.com/maps/?q=13.746878, 100.534857/">Map</a>
        </div>
    
        <div class="nd5 nds" data-toggle="tooltip" data-placement="left" data-original-title="Simone">
            <a class="letter" href="#product">P</a>

        </div>
        <div class="nd3 nds" data-toggle="tooltip" data-placement="left" data-original-title="contract@gmail.com">
            <img class="reminder">
    
            <a class="letter" href="https://www.facebook.com/">F</a>
        </div>
        <div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="Reminder">
            <img src="https://cdn3.iconfinder.com/data/icons/iconic-1/32/arrow_up_alt1-512.png" id="toTop" alt="Back to top" width="40dp">
        </div>
    
        <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="newmail()">
            <p class="plus">+</p>
            <img class="edit btn" src="http://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
        </div>
    
    </div>