<!-- <div class="container">
  <div class="row">

      <div class id="icon" ng-click="showme=true" class="col-md-3" class="form-group" >
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x icon-phone"></i>
          <i class="fa fa-phone fa-stack-1x"> 
           
          </i>
        </span>
      </div>
      <div class id="icon" class="col-md-3" class="form-group" >
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x icon-qrcode"></i>
          <i class="fa fa-qrcode fa-stack-1x"></i>
        </span>
      </div>
      <div class id="icon" class="col-md-3" class="form-group" > 
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x icon-map"></i>
          <i class="fa fa-map-marker fa-stack-1x"></i>
        </span>
      </div>
      <div class id="icon" class="col-md-3" class="form-group" > 
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x icon-fb"></i>
          <i class="fa fa-facebook-square fa-stack-1x"></i>
        </span>
      </div>

  </div>
</div> -->

<!-- //////// -->
<!-- 
<div class="container">
    <div class="row">
        <div *ngFor="let item of items;let i = index ">

            <div class="form-group" class="col-md-3">
                <img width="200dp" height="200dp" src={{item}} class="btn-modal img-circle" data-toggle="modal" data-target="#imgModal" >

            </div>

            <div id="imgModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="btn btn-secondary" data-dismiss="modal">
                                close
                            </button>
                        </div>
                        <div *ngFor="let item of items;let i = index ">
                            <div class="modal-body" *ngIf="item != item">
                                <div class="row">
                                    <img width="300dp" height="300dp" src={{item}} class="btn btn-modal" data-toggle="modal" data-target="#imgModal">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->


<!-- <div class="container">
        <div class="row">
            <div *ngFor="let item of items;let i = index ">
    
                <div class="col-md-3">
                    <img width="200dp" height="200dp" src={{item}} class="btn-modal img-circle" data-toggle="modal" data-target="#imgModal" >
    
                </div>
    
                <div id="imgModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="btn btn-secondary" data-dismiss="modal">
                                    close
                                </button>
                            </div>
                            <div *ngFor="let item of items;let i = index ">
                                <div class="modal-body" *ngIf="item != item">
                                    <div class="row">
                                        <img width="300dp" height="300dp" src={{item}} class="btn btn-modal" data-toggle="modal" data-target="#imgModal">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div> -->

<div class="descText">
    <p>Kustomwear รับออกแบบและผลิตชุดยูนิฟอร์มพนักงาน หรือเสื้อกลุ่ม เราพร้อมและยินดีให้บริการ</p>
</div>

<h2 style="padding-bottom: 50px; padding-top: 50px;">Contact Channel</h2>
<!-- <div class="container">

    <!-- col-md-3 col-sm-6 col-xs-12     col-6 col-md-3 col-xs-3  col-lg-3 col-sm-3 col-md-3  -->
<!-- <div *ngFor="let item of items">

    <div class="col-xs-3 col-sm-3 col-md-3">

        <img width="80px" height="80px" src={{item}} alt="" class="img-circle btn-modal" data-toggle="modal" data-target="#imgModal"
            id="b1"> -->
<!-- <p style="text-align: center">{{item.desc}}</p> -->

<!-- <div id="imgModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn btn-secondary" data-dismiss="modal">
                            close
                        </button>
                    </div>

                    <div class="modal-body">
                        <div>
                            <p-gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'320px'}"></p-gmap>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- </div> -->


<div class="container">

    <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="tel:085-951-4773" class="btn">
            <img src="https://lh3.googleusercontent.com/Ol7K4Z4d1rGTsfiyMlurQi90oJay5kbfHRXi8p5-qRz4XRrJTu1d8_h6cB9jHk5D_9U=w300" alt="from unsplash"
                width="80px" height="80px">
        </a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="http://line.me/ti/p/w3dkebpi2t" class="btn">
            <img src="https://cdn0.iconfinder.com/data/icons/circle-flat/512/line-512.png" alt="from unsplash"
                width="80px" height="80px">
        </a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="https://www.google.com/maps/?q=13.746878, 100.534857">
            <img src="https://image.flaticon.com/icons/png/512/355/355980.png" alt="from unsplash" width="80px" height="80px">
        </a>
    </div>



</div>
<div class="container" style="margin-top: 50px;">
    <div class="col-xs-4 col-sm-4 col-md-4">

        <a href="https://www.facebook.com" class="btn">
            <img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-512.png" alt="from unsplash"
                width="80px" height="80px">
        </a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="https://www.instagram.com/?hl=th" class="btn">
            <img src="https://icon-icons.com/icons2/1211/PNG/512/1491580635-yumminkysocialmedia26_83102.png" alt="from unsplash" width="80px"
                height="80px">
        </a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">       
        <a href="https://www.pinterest.com/" class="btn">
            <img src="http://icons.iconarchive.com/icons/martz90/circle/256/pinterest-icon.png" alt="from unsplash"
                width="80px" height="80px">
        </a>
    </div>
</div>