<!-- <div class="container">
  <div class="row">

      <div class id="icon" ng-click="showme=true" class="col-md-3" class="form-group" >
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x icon-phone"></i>
          <i class="fa fa-phone fa-stack-1x"> 
           
          </i>
        </span>
      </div>
      <div class id="icon" class="col-md-3" class="form-group" >
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x icon-qrcode"></i>
          <i class="fa fa-qrcode fa-stack-1x"></i>
        </span>
      </div>
      <div class id="icon" class="col-md-3" class="form-group" > 
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x icon-map"></i>
          <i class="fa fa-map-marker fa-stack-1x"></i>
        </span>
      </div>
      <div class id="icon" class="col-md-3" class="form-group" > 
        <span class="fa-stack fa-1x">
          <i class="fa fa-circle fa-stack-2x icon-fb"></i>
          <i class="fa fa-facebook-square fa-stack-1x"></i>
        </span>
      </div>

  </div>
</div> -->

<!-- //////// -->
<!-- 
<div class="container">
    <div class="row">
        <div *ngFor="let item of items;let i = index ">

            <div class="form-group" class="col-md-3">
                <img width="200dp" height="200dp" src={{item}} class="btn-modal img-circle" data-toggle="modal" data-target="#imgModal" >

            </div>

            <div id="imgModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="btn btn-secondary" data-dismiss="modal">
                                close
                            </button>
                        </div>
                        <div *ngFor="let item of items;let i = index ">
                            <div class="modal-body" *ngIf="item != item">
                                <div class="row">
                                    <img width="300dp" height="300dp" src={{item}} class="btn btn-modal" data-toggle="modal" data-target="#imgModal">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->


<!-- <div class="container">
        <div class="row">
            <div *ngFor="let item of items;let i = index ">
    
                <div class="col-md-3">
                    <img width="200dp" height="200dp" src={{item}} class="btn-modal img-circle" data-toggle="modal" data-target="#imgModal" >
    
                </div>
    
                <div id="imgModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="btn btn-secondary" data-dismiss="modal">
                                    close
                                </button>
                            </div>
                            <div *ngFor="let item of items;let i = index ">
                                <div class="modal-body" *ngIf="item != item">
                                    <div class="row">
                                        <img width="300dp" height="300dp" src={{item}} class="btn btn-modal" data-toggle="modal" data-target="#imgModal">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div> -->

    <div class="descText">
        <p>Kustomwear รับออกแบบและผลิตชุดยูนิฟอร์มพนักงาน หรือเสื้อกลุ่ม เราพร้อมและยินดีให้บริการ</p>
    </div>    

<h2 style="padding-bottom: 50px; padding-top: 50px;">Contact Channel</h2>
<div class="container">

    <!-- col-md-3 col-sm-6 col-xs-12     col-6 col-md-3 col-xs-3  col-lg-3 col-sm-3 col-md-3  -->
    <div *ngFor="let item of items">

        <div class="col-xs-12 col-xs-6 col-sm-3 col-md-3">

            <img width="150dp" height="150dp" src={{item}} alt="" class="img-circle btn-modal" data-toggle="modal" data-target="#imgModal"
                id="b1">
            <!-- <p style="text-align: center">{{item.desc}}</p> -->

            <div id="imgModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="btn btn-secondary" data-dismiss="modal">
                                close
                            </button>
                        </div>

                        <div class="modal-body">
                            <div>
                                <p-gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'320px'}"></p-gmap>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>