<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
  <div class="row"> -->

<div style="text-align:center" class id="banner">

  <app-banner></app-banner>


</div>
<div style="text-align:center" class id="contact">
  
  <app-contact></app-contact>
</div>
<div style="text-align:center" class id="product">
 

  <app-our-product></app-our-product>

</div>

<div style="text-align:center" class id="service">
  <h2>Our service</h2>
  <app-our-service></app-our-service>

</div>

<div style="text-align:center" class id="product">
  <h2>
    Map</h2>
  <app-map></app-map>

</div>
<!-- 
<img src="https://cdn3.iconfinder.com/data/icons/iconic-1/32/arrow_up_alt1-512.png" id="toTop" alt="Back to top" width="50dp">
 -->

<!-- <div>
  <input type="button"  class="goToTop" value="&#x25B2;"  style="display:none;background-color:skyblue"  />
</div> -->
<!-- </div>
</div> -->