<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
  <div class="row"> -->
    
<div style="text-align:center" class id="banner" onclick="">

  <app-banner></app-banner>


</div>
<div style="text-align:center" class id="contact" onclick="">

  <app-contact></app-contact>
</div>
<div style="text-align:center" class id="product" onclick="">


  <app-our-product></app-our-product>

</div>
<div style="text-align:center" class id="sizechart" onclick="">
  <app-size-chart></app-size-chart>

</div>

<div style="text-align:center" class id="service" onclick="">

  <app-our-service></app-our-service>

</div>

<div style="text-align:center" class id="map" onclick="">
 
  <app-map></app-map>

</div>



<div id="container-floating" onclick="">

  <div class="nd4 nds" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it">
    <img class="reminder" onclick="">
    <a class="letter" href="https://www.google.com/maps/?q=13.746878, 100.534857">Map</a>
  </div>

  <div class="nd5 nds" data-toggle="tooltip" data-placement="left" data-original-title="Simone" onclick="">
    <a class="letter" href="#product">P</a>

  </div>
  <div class="nd3 nds" data-toggle="tooltip" data-placement="left" data-original-title="contract@gmail.com" onclick="">
    <img class="reminder">

    <a class="letter" href="https://www.facebook.com/">F</a>
  </div>
  <div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="Reminder" onclick="">
    <img src="https://cdn3.iconfinder.com/data/icons/iconic-1/32/arrow_up_alt1-512.png" id="toTop" alt="Back to top" width="40dp">
  </div>

  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="">
    <p class="plus">+</p>
    <img class="edit" src="http://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
  </div>

</div>

<footer>
  <div class id="footer">
    <div class="headfooter">
      <p>Kustomwear</p>
    </div>

    <p>20/9 ถนนวงศ์สว่าง แขวงวงศ์สว่าง</p>
    <p>เขตบางซื่อ กรุงเทพฯ 10800</p>

  </div>
</footer>
<!-- 
<img src="https://cdn3.iconfinder.com/data/icons/iconic-1/32/arrow_up_alt1-512.png" id="toTop" alt="Back to top" width="50dp">
 -->

<!-- <div>
  <input type="button"  class="goToTop" value="&#x25B2;"  style="display:none;background-color:skyblue"  />
</div> -->
<!-- </div>
</div> -->