<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
  <div class="row"> -->
    <div style="text-align:center" class id="banner">

        <app-banner></app-banner>

      <h2> 
        Contact Channel 
      </h2>
      <app-contact></app-contact>

    </div>
    <div style="text-align:center" class id="product">
      <h2>Our Product </h2>

      <app-our-product></app-our-product>

    </div>
    <div style="text-align:center" class id="banner">
      <h2>
        Our service</h2>
      <app-our-service></app-our-service>

    </div>
    <div style="text-align:center" class id="product">
      <h2>
        Map</h2>
      <app-map></app-map>

    </div>
  <!-- </div>
</div> -->