<div class="container">
    <div class="col-lg-12 col-md-12 col-xs-12">
<img src="https://firebasestorage.googleapis.com/v0/b/gallery-shop.appspot.com/o/S__27402255.jpg?alt=media&token=88893ef6-7f54-4357-b617-607b518f02bc"
 width="100%" style="margin: 0 auto;">
            <!-- https://firebasestorage.googleapis.com/v0/b/gallery-shop.appspot.com/o/S__27402255.jpg?alt=media&token=88893ef6-7f54-4357-b617-607b518f02bc -->
        <!-- <p-gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'320px'}"></p-gmap> -->
    </div>
</div>