<h2>Size Chart</h2>
<a href="#gallery-modal-1" class="btn" >

    <img src="https://firebasestorage.googleapis.com/v0/b/gallery-shop.appspot.com/o/crop-kustom%20wear_size%20chart_t%20shirt-01.jpg?alt=media&token=7ca6b952-8460-4683-809f-42e9aba942d3" 
    class="imgSize" alt="from unsplash" width="50%" height="50%">
</a>



<div class="light-modal" id="gallery-modal-1" role="dialog" aria-labelledby="light-modal-label" aria-hidden="false">
    <div class="light-modal-content animated fadeIn" style="transform: scale(1.2)">
        <img src="https://firebasestorage.googleapis.com/v0/b/gallery-shop.appspot.com/o/crop-kustom%20wear_size%20chart_t%20shirt-01.jpg?alt=media&token=7ca6b952-8460-4683-809f-42e9aba942d3" alt="from unsplash">
        <a href="#sizechart" class="light-modal-close-icon" aria-label="close">×</a>
        <!-- <div class="light-modal-caption">This is the Image Gallery with Fade Effect.</div> -->
        <div class="light-modal-navigation">
            <a href="#gallery-modal-3" class="light-modal-navigation navigation-prev"></a>
            <a href="#gallery-modal-2" class="light-modal-navigation navigation-next"></a>
        </div>
    </div>
</div>
<div class="light-modal" id="gallery-modal-2" role="dialog" aria-labelledby="light-modal-label" aria-hidden="false">
    <div class="light-modal-content animated fadeIn" style="transform: scale(1.1)">
        <img src="https://firebasestorage.googleapis.com/v0/b/gallery-shop.appspot.com/o/crop1-kustom%20wear_size%20chart_long%20sleeve%20shirt-01.jpg?alt=media&token=8ca60dd5-2760-4737-839c-a9f051181a86"
            alt="from unsplash">
        <a href="#sizechart" class="light-modal-close-icon" aria-label="close">×</a>
        <!-- <div class="light-modal-caption">You can use any css animation on each modal like this one.</div> -->
        <div class="light-modal-navigation">
            <a href="#gallery-modal-1" class="light-modal-navigation navigation-prev"></a>
            <a href="#gallery-modal-3" class="light-modal-navigation navigation-next"></a>
        </div>
    </div>
</div>
<div class="light-modal" id="gallery-modal-3" role="dialog" aria-labelledby="light-modal-label" aria-hidden="false">
    <div class="light-modal-content animated fadeIn" style="transform: scale(1.1)">
        <img src="https://firebasestorage.googleapis.com/v0/b/gallery-shop.appspot.com/o/crop1-kustom%20wear_size%20chart_polo%20shirt-01.jpg?alt=media&token=c8e54866-7c0b-43fb-b097-3c0150e8cba3"
            alt="from unsplash">
        <a href="#sizechart" class="light-modal-close-icon" aria-label="close">×</a>
        <!-- <div class="light-modal-caption">I mean any...</div> -->
        <div class="light-modal-navigation">
            <a href="#gallery-modal-2" class="light-modal-navigation navigation-prev"></a>
            <a href="#gallery-modal-1" class="light-modal-navigation navigation-next"></a>
        </div>
    </div>
</div>